@import url(https://fonts.googleapis.com/css?family=Righteous:100,200,300,400,500,600,700,800,900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Macondo:100,200,300,400,500,600,700,800,900&display=swap);


html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", "Righteous", Arial, Helvetica, sans-serif !important;

  --primary: #0000;
  /*Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;*/
  background-color: #fff;
  font-size: 14px;
  /*#0043EF*/
  /*background-accent #ffe0e0*/
  overflow-x:hidden;
}
html.drawer-open{
  overflow:hidden;
}
button,
input[type=submit]{
  transition:background-color ease-out 150ms,
  color ease-out 150ms;
}

.toAuthorArticles--container {
  transition: transform ease-in-out 0.5s;
}
.toAuthorArticles--container > a {
  transition: opacity ease-in-out 0.5s;
}

.spotlight-desc--container::before{
  content: "";
  position:absolute;
 
  top:0.8rem;
  z-index: -1;
  width: 100%;
  height: 1px;
  background: var(--primary);
 
}

.article-prev::first-letter {
  background-color: var(--primary);
  font-size: 8.6rem;
  line-height: 5.6rem;
  min-width: 8.8rem;
  font-weight: 900;
  float: left;
  font-weight:700;
  color: #fff3f3;
  height: fit-content;
  box-sizing: border-box;
  padding-top: .5rem;
  padding-right: .5rem;
  padding-left: .5rem;
  margin: 6px 10px 0 0;

  
}
.underline_span{
  
    text-decoration: none;
    background-image: linear-gradient(#01e2c2, #01e2c2);
    background-repeat: no-repeat;
    background-position: 0% 90%;
    background-size: 0% 0.4rem !important;
    transition: background-size 0.4s ease-in !important;
    will-change: background-size;
  


}
.menu-cat--title:hover .underline_span,
.menu-cat--title:focus .underline_span,
.article-title:hover .underline_span,
.article-title:focus .underline_span {
  background-size: 100% 0.4rem !important;

  /*text-decoration: underline;
  text-underline-offset: 0.05em;
  text-decoration-color: #4fc049;
  text-decoration-thickness: 5px !important;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;*/
}


.article-preview > p:nth-child(1)::first-letter {
  color: black;
  font-size: 6rem;
  
  font-weight: 900;
  float: left;
  line-height: 0.45;
  text-transform:uppercase;
  margin: 0.1em 0.1em 0.2em 0;
}
.article-preview a,
.article-preview a span,
.article-preview a strong,
.article-preview a strong u,
.article-preview a span u{
  color:black;
  
  text-decoration-color:#01e2c2;
  text-decoration-thickness:5px;
  text-underline-offset: 4px;
}
.share-methods--ctnr{
  display:none !important;
  transition: display 0.34s ease-in;
}
.share-btn--expanded div{
  display: inline-block !important;
  
}


.search-btn{
  left: calc(45px *((1 - (20/45))/2));
  top: calc(45px *((1 - (20/45))/2)); 
}
.spotlight-articleCard--headline_ctnr::after{
  content:"";
  display:block;
  position:absolute;
  height:80px;
  background-color:#000000;
  width:100%;
  
}

.loyalty-card--btn{
  background: linear-gradient(rgb(0,0,0),rgb(0,0,0)) center 100%/ 100% 0% no-repeat;

  -webkit-transition: background-size 1s cubic-bezier(.19,1,.22,1);
  -moz-transition: background-size 1 cubic-bezier(.19,1,.22,1);
  -o-transition: background-size 1 cubic-bezier(.19,1,.22,1);
  -ms-transition: background-size 1s cubic-bezier(.19,1,.22,1);
  transition: background-size 1s cubic-bezier(.19,1,.22,1);

}

.loyalty-card--btn a{
  transition: all .34s cubic-bezier(.19,1,.22,1);
  transition-delay: .04s;

}

.loyalty-card--btn:hover{
   background-size: 100% 100%;

}


.loyalty-card--btn:hover a{
  color:#fff;
}


.nave-menu--ctnr{
  animation: opacity .34s cubic-bezier(0.19, 1, 0.22, 1);
}

.text-ring{
  
  
  -ms-animation:rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -webkit-animation:rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation:rotating 2s linear infinite;

}


.text-ring [style*=--index]{
  position: absolute;
  top:50%;
  left:50%;

  transform:translate(-50%,-50%)rotate(calc(270deg + ((90deg/5) * var(--index))))translateY(-4rem);
}
.text-ring [style*=--oindex]{
  position: absolute;
  top:50%;
  left:50%;

  transform:translate(-50%,-50%)rotate(calc(90deg + ((90deg/5) * var(--oindex))))translateY(-4rem);
}
.discount_tombstone{
  background:url("/discount_asset_tb-bg.jpeg") 0% 0%/ cover no-repeat;
}

.ad_large[data-orientation="horizontal"]
{
  width: 100% !important;
  min-width:1024px !important;
  
  
  aspect-ratio: 4/1 !important;
}
.ad_large[data-orientation="vertical"]
{

  width: 100% !important;
  aspect-ratio: 1/2 !important;
  
  
  

}

.ad_medium[data-orientation="horizontal"]
{
  width: 100% !important;
  min-width: 768px !important;
  
  aspect-ratio: 6/1 !important;

}


.ad_medium[data-orientation="vertical"]
{
  width: 100% !important;
  aspect-ratio: 1/2 !important;
}

.ad_small[data-orientation="horizontal"]
{
  width: 100% !important;
  min-width:320px !important;
  
  aspect-ratio: 5/1;

}

@keyframes opacity{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}


@keyframes rotating{
  from{
    -ms-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg);
  }
  to{
    -ms-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg);
  }
}






